@import "tailwindcss";

/* Design tokens */
@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

/* Base styles */
@layer base {
  html {
    font-family: var(--font-sans);
  }

  body {
    @apply bg-white text-gray-950;
  }

  @media (prefers-color-scheme: dark) {
    body {
      @apply bg-gray-950 text-gray-50;
      color-scheme: dark;
    }
  }
}
